<%= form_for @job_application do |f| %>
<p>
  <%= f.label :full_name %>
  <%= f.text_field :full_name, placeholder: "Enter Full Name"%>
</p>
<p>
  <%= f.label :phone %>
  <%= f.number_field :phone, placeholder: "Enter phone number"%>
</p>
<p>
  <%= f.label :hobby %>
  <%= f.text_field :hobby, placeholder: "Enter you hobby"%>
</p>
<p>
  <%= f.label :years_experience%>
  <%= f.text_field :years_experience, placeholder: "Enter your experience"%>
</p>
<p>
  <%= f.label :available_date %>
  <%= f.date_field :available_date %>
</p>
<p>

  <%= f.submit "Submit" %>
</p>
<% end %>
