<h1><%=@event.name%></h1>
<p><%=@event.date%></p>
<p><%=@event.city%></p>
<p><%=@event.capacity%></p>

<%= link_to "Edit", edit_event_url(@event) %>
| <%= link_to "Delete", event_url(@event), method: :delete, data: {confirm: "Are you sure you want to delete the Event '#{@event.name}'? This cannot be undone!"} %>
